.banner {
    display: block;
    width: 100%;

}

.body {
    background-color: #93BFCF;
}

#titulo_navbar {
    font-weight: bold;
    text-align: center;
}
    
.titulo_pagina{
    display: flex ;
    justify-content: space-around;
    font-size: 2em;
    color: orange;
    background-color: #0081C9;
    align-items: center;
}


.mb-0 {
    margin-bottom: 0;
    }

#produto {
    padding-left: 0;
}

table, th, td{
    border: solid black 1px;
}

.table_mov_sup {
    width: 100%;
}

#th_table, #sub_titulo_tb {
    text-align: center;
    font-weight: bold;
}

#th_table {
    font-size: 1.2em;
}

#tr_linha {
    text-align: center;
    font-size: 1.5 em;
}

footer {
    width: 100%;
    display: flex;
    background-color: #0081C9;
    color: #FFC93C;
    font-size: 1em;
    text-align: center;
    clear: both;
    position: absolute;
    bottom: 0;
}
